/* default */
body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'NanumBarunGothic', '나눔고딕', 'NanumGothic', sans-serif;
}

code, kbd, pre, samp {
	font-family: 'Menlo', 'Monaco,Consolas', 'Courier New', '나눔고딕코딩', 'NanumGothicCoding', 'ＭＳゴシック', 'MS Gothic', '돋움체', monospace;
}

/* ruby */
ruby.ukagaka>rb {
	font-family: 'メイリオ', 'Meiryo', 'Takao Pゴシック', 'TakaoPGothic', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/* class */
.big {
	font-size: 16px;
	font-weight: normal;
}
